<!--Modal-->
<div class="modal fade" id="modal-signin" aria-hidden="true" aria-labelledby="signinModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs  nav-fill" id="signin-up-navs" role="tablist">
                    <li class="nav-item active" role="presentation">
                        <button class="nav-link active" id="home-tab0" data-mdb-toggle="tab" data-mdb-target="#signinTab"
                            type="button" role="tab" aria-controls="home" aria-selected="true">
                            Sign in
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab0" data-mdb-toggle="tab" data-mdb-target="#signupTab"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">
                            Sign up
                        </button>
                    </li>
                </ul>
                <!-- Tabs navs -->
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!-- Tabs content -->
                <div class="tab-content" id="signin-up-content">
                    <div class="tab-pane fade show active" id="signinTab" role="tabpanel" aria-labelledby="signin-tab">
                        <div class="card text-center">
                            <div class="card-body">
                                <form class="form-signin" method="POST" action="/">
                                    <h2 class="form-signin-heading">Please sign in</h2>
                                    {{ form_login.hidden_tag() }}
                                    <div class="form-group">
                                        {{ form_login.username.label(class="form-control-label") }}
                                        {% if form_login.username.errors %}
                                        {{ form_login.username(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_login.username.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form_login.username(class="form-control form.control.lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_login.password.label(class="form-control-label") }}
                                        {% if form_login.password.errors %}
                                        {{ form_login.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_login.password.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form_login.password(class="form-control form.control.lg") }}
                                        {% endif %}
                                    </div>

                                    {{ form_login.login(class="btn btn-primary btn-link btn-wd btn-lg")  }}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="signupTab" role="tabpanel" aria-labelledby="signup-tab">
                        <div class="card text-center">
                            <div class="card-body">
                                <form class="form-signin" method="POST" action="/">
                                    <h2 class="form-signin-heading">Sign Up</h2>
                                    {{ form_register.hidden_tag() }}
                                    <div class="form-group">
                                        {{ form_register.username.label(class="form-control-label") }}
                                        {% if form_register.username.errors %}
                                        {{ form_register.username(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_register.username.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form_register.username(class="form-control form.control.lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_register.email.label(class="form-control-label") }}
                                        {% if form_register.email.errors %}
                                        {{ form_register.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_register.email.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form_register.email(class="form-control form.control.lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_register.password.label(class="form-control-label") }}
                                        {% if form_register.password.errors %}
                                        {{ form_register.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_register.password.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form_register.password(class="form-control form.control.lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-check">
                                        {{ form_register.usertype.label(class="form-control-label") }}
                                        {{ form_register.usertype }}
                                    </div>
                                    {{ form_register.register(class="btn btn-primary btn-link btn-wd btn-lg")  }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tabs content -->
            </div>
        </div>
    </div>

</div>