{% if not current_user.is_authenticated %}
{% include 'Includes/login_signup.html' %}
{% endif %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" style="margin-left:15px;">
        <img src="\static\img\doge.png" height="45" alt="" loading="lazy" class="rounded-circle">
        DogeSitting
      </a>
    </div>

    <div class="d-flex align-items-center">

      <ul class="nav justify-content-end pippo">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!-- Pagine navbar per dogsitter-->
        {% if current_user.is_authenticated and current_user.user_type == True %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('dogsitter_dashboard') }}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('appointment_form') }}">Disponibilità</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('profile', user_id=current_user.id) }}">Profilo</a>
        </li>
        <!-- Pagine navbar per utente normale-->
        {% elif current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('appointment_list') }}">Prenotati</a></li>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('profile', user_id=current_user.id) }}">Profilo</a>
        </li>
        {% endif %}
      </ul>

      {% if not current_user.is_authenticated %}
      <!-- Button login_signup -->
      <button id="bottone-modal" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-signin">
        Sign in/up
      </button>
      {% endif %}


      <!-- Avatar -->
      {% if current_user.is_authenticated %}
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <img src="/static/img/users/default.png" class="rounded-circle" height="25" alt="" loading="lazy" />
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
 
</nav>

<!-- Navbar -->