<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <!-- <img src="{{ url_for('static', filename='img/doge.png') }}" height="45" alt="" loading="lazy" />-->
      </a>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          {% if current_user.is_authenticated and current_user.user_type == True %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('dogsitter_dashboard') }}">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('appointment_form') }}">Disponibilità</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('appointment_list') }}">Prenotati</a></li>
          <li class="nav-item"><a class="nav-link" href="/user_booked_appointment/{{ user_id }}">Lista Prenotazioni</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('profile/{{ current_user.id }}') }}">Profilo</a></li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <div class="d-flex align-items-center">


        <!-- Button login_signup -->
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal" href="{{ url_for('login_signup') }}">
          Sign in/up
        </button>



        <!-- Avatar -->
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
            loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          {% if current_user.is_authenticated %}
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
          </li>
          {% else %}
          <li>
            <a class="dropdown-item" href="{{ url_for('login') }}">Sign In</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ url_for('signup') }}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>

<!-- Navbar -->