{% if not current_user.is_authenticated %}
{% include 'Includes/login_signup.html' %}
{% endif %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <!-- <img src="{{ url_for('static', filename='img/doge.png') }}" height="45" alt="" loading="lazy" />-->
      </a>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <!-- Pagine navbar per dogsitter-->
          {% if current_user.is_authenticated and current_user.user_type == True %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('dogsitter_dashboard') }}">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('appointment_form') }}">Disponibilità</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('profile', user_id=current_user.id) }}">Profilo</a>
          </li>
          <!-- Pagine navbar per utente normale-->
          {% elif current_user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('appointment_list') }}">Prenotati</a></li>
          <li class="nav-item"><a class="nav-link" href="/user_booked_appointment/{{ user_id }}">Lista Prenotazioni</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('profile', user_id=current_user.id) }}">Profilo</a>
          </li>
          {% endif %}
        </ul>
        <!-- Left links -->
      </div>
      <div class="d-flex align-items-center">

        {% if not current_user.is_authenticated %}
        <!-- Button login_signup -->
        <button type="button" class="btn btn-warning" data-mdb-toggle="modal" data-mdb-target="#modal-signin">
          Sign in/up
        </button>
        {% endif %}


        <!-- Avatar -->
        {% if current_user.is_authenticated %}
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
            loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
          </li>
        </ul>
        {% endif %}
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>

<!-- Navbar -->