
a#navbarDarkDropdownMenuLink{
  color: orange!important;
  }

nav .pippo li a{
    color: black!important;
  }

div.search_bar_app{
  margin-top:10px; 
  max-height: 175px;
}

div#search_bar{
  position:absolute;  
  z-index:9999999;  
  left:157px;
  bottom: 15px;
}

label.fixed-bar{
  padding-top:150px;
}


.jumbotron {
  background-color: #CEB77E;
  background: rgb(206, 183, 126);
  background: rgba(206, 183, 126, 0.5); 
  width: 80%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


div#search_bar_app{
  background: rgb(170, 119, 48);
  background: rgba(170, 119, 48,0.5); 
}

.card#card_dashboard{
  border-color: #373025;
}

.card-header#card_dashboard{
  border-color: #373025;
}

.card-footer#card_dashboard{
  border-color: #373025;
}

.card-header .card-text h5 strong{
  color: #373025 ;

}

.fas#icona_dashboard{
  color: #AA7730;
}

.fas#icona_ricerca{
  color: black;
}

.container-fluid#user_profile{
  background-image: url('/static/img/Doggo7.jpg');
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container-fluid#appointment_form{
  background-image: url('/static/img/dogesitting2.jpg');
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dim_opacity{
  background-color: rgba(245, 245, 245, 0.5);
}

.dim_opacity_profile{
  background-color: rgba(245, 245, 245, 0.8);
}


div#profile_form{
margin-top: 150px;
margin-bottom: 150px;
position: relative;
}

.ciccio{
  margin-left: 43%;
  width: 15%;
  height: auto;
}

.ciccio2{
  margin-left: 39%;
  width: 25%;
  height: auto;
}