{% extends "layout.html" %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('appointment_list') }}">Prenotati</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <div class="container">

        <form class="form-signin" method="POST" action="/appointment_list">
          <h2 class="form-signin-heading">Inserisci le informazioni</h2>
          {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.location.label(class="form-control-label") }}
          {% if form.location.errors %}
              {{ form.location(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.location.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
          {% else %}
              {{ form.location(class="form-control form.control.lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.dog_number.label(class="form-control-label") }}
          {% if form.dog_number.errors %}
              {{ form.dog_number(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.dog_number.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
          {% else %}
              {{ form.dog_number(class="form-control form.control.lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.date.label(class="form-control-label") }}
          {% if form.date.errors %}
              {{ form.date(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.date.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
          {% else %}
              {{ form.date(class="form-control form.control.lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.time_start.label(class="form-control-label") }}
          {% if form.time_start.errors %}
              {{ form.time_start(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.time_start.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
          {% else %}
              {{ form.time_start(class="form-control form.control.lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.time_end.label(class="form-control-label") }}
          {% if form.time_end.errors %}
              {{ form.time_end(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.time_end.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
          {% else %}
              {{ form.time_end(class="form-control form.control.lg") }}
          {% endif %}
        </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Conferma</button>
        </form>
  
    </div> <!-- /container -->
    <div class="container">
        <div class="section">
            <h2>Risultati di Ricerca</h2>
            <div class="row">
                {% for appointment in appointments_list %}
                <div class="col-md-4">
                  <a href="/book_appointment/{{ appointment['id'] }}/{{ form.time_start.data }}/{{ form.time_end.data }}/{{ form.date.data }}/{{ form.dog_number.data }}/{{ appointment['location'] }}">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <br>
                                <!--<p>/book_appointment/{{ appointment['id'] }}/{{ form.time_start.data }}/{{ form.time_end.data }}/{{ form.date.data }}/{{ form.dog_number.data }}/{{ appointment['location'] }}</p>-->
                                <br>
                                <strong>Luogo:</strong> {{ appointment['location'] }}
                                <br>
                                <strong>Ora Inizo:</strong> {{ appointment['appointment_start'] }}
                                <br>
                                <strong>Ora Fine:</strong> {{ appointment['appointment_end'] }}
                                <br>
                                <strong>Numero Cani:</strong> {{ appointment['max_dog_number'] }}
                            </p>
                        </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}