<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            // chiamata per invio di dati
            $(function() {
                // al click del bottone viene fatta partire la chiamata AJAX
                $('#appointment_select').click(function() {
                    $.ajax({
                        url: '/api/add_schedule',
                        data: $('#availability_adder').serialize(),    // prende i dati del form
                        type: 'POST',

                        success: function(response) {
                            console.log(response)
                            risposta = JSON.parse(response);    // converte la risposta in JSON

                            alert(risposta.message);            // stampa il messaggio di successo
                            $('#error_box').empty();
                        },

                        error: function(error) {
                            errore = JSON.parse(error.responseText)     // converte la risposta in JSON

                            // crea il tag span dove scrivere l'errore
                            var testo = $("<span></span>")
                                        .text(errore.error)
                                        .css({
                                            'color': "red",
                                            'font-weight': 'bold'
                                        })

                            $('#error_box').html(testo)             // sovrascive il contenuto del div per gli errori
                        }
                    });
                });
            });
            
        </script>
        <script>
            // chiamata per ricezioni dati
            $(function() {
                // al click del bottone viene fatta partire la chiamata AJAX
                $('#show_all').click(function() {
                    $.ajax({
                        url: '/api/schedule_list',
                        type: 'GET',
                        
                        success: function(response) {
                            console.log(response)
                            //risposta = JSON.parse(response);    // converte la risposta in JSON
                            //dati = risposta.rep;

                            var tabella = $("<table></table>");

                            response.forEach(element => {
                                var riga = $("<tr></tr>");

                                var col1 = $("<td></td>").text(element.appointment_id);
                                var col2 = $("<td></td>").text(element.dogsitter_id);
                                var col3 = $("<td></td>").text(element.location);
                                var col4 = $("<td></td>").text(element.max_dog_number);
                                var col5 = $("<td></td>").text(element.appointment_start);
                                var col6 = $("<td></td>").text(element.appointment_end);


                                riga.append(col1, col2, col3, col4, col5, col6);
                                tabella.append(riga);
                            });

                            $("#dati").html(tabella);
                        },

                        error: function(error) {
                            errore = JSON.parse(error.responseText)     // converte la risposta in JSON
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <div>
            <label for="pippo">Aggiungi un appuntamento al tuo profilo</label>
            <form id="availability_adder" name="pippo">
                <label for="dogsitter_id">Id dogsitter</label>
                <input type="text" name="dogsitter_id"><br>
                <label for="location">Inserire la Località</label>
                <input type="text" name="location"><br>
                <label for="date_start">Inserire la data di inizio</label>
                <input type="datetime-local" name="date_start"><br>
                <label for="date_start">Inserire la data di fine</label>
                <input type="datetime-local" name="date_end"><br>
                <label for="max_dogs">Inserire il numero massimo di cani</label>
                <input type="text" name="max_dogs"><br>
                <input type="button" id="appointment_select" value="Crea Disponibilità"><br>
            </form>
        </div>
        <div>
            <input type="button" id="show_all" value="Mostra tutti gli appuntamenti">
        </div>
        <div id="dati"></div>
    </body>
</html>