{% extends "layout.html" %}

{% block content %}

{% include 'Includes/search_bar_app.html' %}
    <div class="container">
        <div class="section">
            <h2>Risultati di Ricerca</h2>
            <div class="row">
                {% for appointment in appointments_list %}
                <div class="col-md-4">
                  <a href="/book_appointment/{{ appointment['id'] }}/{{ form.time_start.data }}/{{ form.time_end.data }}/{{ form.date.data }}/{{ form.dog_number.data }}/{{ appointment['location'] }}">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <br>
                                <!--<p>/book_appointment/{{ appointment['id'] }}/{{ form.time_start.data }}/{{ form.time_end.data }}/{{ form.date.data }}/{{ form.dog_number.data }}/{{ appointment['location'] }}</p>-->
                                <br>
                                <strong>Luogo:</strong> {{ appointment['location'] }}
                                <br>
                                <strong>Ora Inizo:</strong> {{ appointment['appointment_start'] }}
                                <br>
                                <strong>Ora Fine:</strong> {{ appointment['appointment_end'] }}
                                <br>
                                <strong>Numero Cani:</strong> {{ appointment['max_dog_number'] }}
                            </p>
                        </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}