{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="section">
            <h2>Lista di tutte le prenotazioni</h2>
            <div class="row">
                {% for appointment in dogsitter_available_appointment %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                          <a href="/delete_dogsitter_appointment/{{ appointment['id'] }}">
                            <p class="card-text">
                            <br>
                            <strong>Luogo:</strong> {{ appointment['location'] }}
                            <br>
                            <strong>Giorno:</strong> {{ appointment['appointment_day'] }}
                            <br>
                            <strong>Ora Inizo:</strong> {{ appointment['appointment_start'] }}
                            <br>
                            <strong>Ora Fine:</strong> {{ appointment['appointment_end'] }}
                            <br>
                            <strong>Numero Cani:</strong> {{ appointment['max_dog_number'] }}
                              </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}