{% extends "layout.html" %}

{% block content %}

<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->

<div class="col-md-10 ml-auto mr-auto align-items-center">
  <div class="card card-raised card-form-horizontal"
    style="margin:auto;">
    <div class="card-body ">
      <form class="form" method="POST" action="/">
        {{ search_form.hidden_tag() }}
        <div class="row align-items-center vertical-align-center">
          <div class="col-md">
            <div class="form-group bmd-form-group">
              <label for="inputPlace">Luogo</label>
              {{ search_form.location(class="form-control") }}
              {% if search_form.location.errors %}
              <label class="control-label control-label-search-custom">{% for error in search_form.location.errors %}{{
                error }}<br>{% endfor %}</label>
              {% endif %}
            </div>
          </div>
          <div class="col-md">
            <div class="form-group bmd-form-group">
              <label class="label-control">Data</label>
              {{ search_form.date(class="form-control") }}
              {% if search_form.date.errors %}
              <label class="control-label control-label-search-custom">{% for error in search_form.date.errors %}{{
                error }}<br>{% endfor %}</label>
              {% endif %}
            </div>
          </div>
          <div class="col-md">
            <div class="form-group bmd-form-group">
              <label class="label-control">Ora Inizio</label>
              {{ search_form.time_start(class="form-control") }}
              {% if search_form.time_start.errors %}
              <label class="control-label control-label-search-custom">{% for error in search_form.time_start.errors
                %}{{ error }}<br>{% endfor %}</label>
              {% endif %}
            </div>
          </div>
          <div class="col-md">
            <div class="form-group bmd-form-group">
              <label class="label-control">Ora Fine</label>
              {{ search_form.time_end(class="form-control") }}
              {% if search_form.time_end.errors %}
              <label class="control-label control-label-search-custom">{% for error in search_form.time_end.errors %}{{
                error }}<br>{% endfor %}</label>
              {% endif %}
            </div>
          </div>
          <div class="col-md">
            <div class="form-group bmd-form-group">
              <label class="label-control">Numero Cani</label>
              {{ search_form.dog_number(class="form-control") }}
              {% if search_form.dog_number.errors %}
              <label class="control-label control-label-search-custom">{% for error in search_form.dog_number.errors %}{{
                error }}<br>{% endfor %}</label>
              {% endif %}
            </div>
          </div>
          <div class="col-md">
            {{ search_form.search(class="btn btn-info btn-block") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock content %}